
.names {
    text-align: center;
    justify-content: center;
    font-family: monospace;
    font-size: 15px;
    font-style: oblique;
    text-shadow: #999;
    background-color: orangered;
    border: 20px;
    color: white;
    padding: 10px;
    text-decoration: none;
    box-shadow: 0 2px #999;
    margin-bottom: 20px;
    margin-block: 50px;
    margin-left: 350px;
    margin-right: 350px;
} 

h1 {
    text-align: center;
    justify-content: center;
    font-family: monospace;
    font-size: 48px;
    font-style: oblique;
    text-shadow: #999;
    background-color: orangered;
    margin-top: 20px;
    color: black;
}

footer {
    font-size: 30px;
    font-style: oblique;
    font-family: monospace;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    background: white;
    color: black;
    padding: 15px;
    box-shadow: 10px 0 10px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 2px #999;
    background-color: orangered;
  }