body {
    text-align: left;
    font-family: monospace;
    font-size: 25px;
    background-color: white;
    text-shadow: orangered;
  }
  
  h1 {
    text-align: center;
    justify-content: center;
    font-family: monospace;
    font-size: 35px;
    font-style: oblique;
    text-shadow: #999;
    background-color: orangered;
    margin-bottom: 20px;
    margin-block: 50px;
    margin-left: 350px;
    margin-right: 350px;
  }

  a {
    color: orangered;
    font-size: 20px;
    text-decoration: none;
  }