p {
    text-align: center;
    padding: 40px;
    margin: 200px;
    vertical-align: middle;
    justify-content: center;
    font-family: monospace;
    font-size: 35px;
    font-style: oblique;
    text-shadow: white;
    outline: 4px solid;
    outline-color: orangered;
  }