<html>
    <head>
        <title>Booking confirmation</title>
    </head>
    <body>
   
    <h2>Your booking has been requested and is pending for approval.</h2>
    <h3>Redirecting to main page.</h3>
     <div>
     <p>Take me to my account page instead</p> <!-- link to this page needs to be added once pade exists -->
     <a href='/'>Home Page</a>
     <meta http-equiv="refresh" content="8; url = /" />
    </div>
    </body>
</html>