<html>
    <head>
        <title>Booking confirmation</title>
    </head>
    <body>
   
    <h2>Your booking has been requested and is pending for approval.</h2>
    <h3>Redirecting to main page.</h3>
     <div>
     <p><a href='/myaccount'>Take me to my account page instead</a></p> 
     <a href='/'>Home Page</a>
     <meta http-equiv="refresh" content="8; url = /" />
    </div>
    </body>
</html>