<html>
<link href="style4.css" rel="stylesheet">
  <body>
    <p>You are currently logged in therefore cannot sign up. Redirecting to homepage...</p>
    <meta http-equiv="refresh" content="3; url = /" />
  <body>

<html>