<link href="style1.css" rel="stylesheet">

<html>
<div class="topnav">
<a href="/">Home</a>
</div>
  <body>
    <h1>Add a new rental:</h1>
    <form action="/rentals/add" method="POST">
    <div class='names'>
      <p><input name="name" placeholder="Name" /></p>
      <p><input name="description" placeholder="Description" /></p>
      <p><input name="price" placeholder="Price" /></p>
      <p><input name="address" placeholder="Address" /></p>
      <p><input type="submit" value="List rental" />
      </div>
    </form>
  </body>

</html>

<div class='form-group'>