<html>
  <body>
   <div class="topnav">
  <a href="/">Home</a>
  <a href="/myaccount">My account</a>
 </div>
  <title>Welcome to your Rentals Management Page</title>
  <h1>Your rentals:</h1>
  <a href='/rentals/add'> Add new rental </a>
  <% @user_rentals.each do |rental| %>
      <h2>Space Name: <%= rental.name %> - <%= rental.description %> </h2>
      <% end %>
      <br>
  </body>
</html>