<html>

<body>
<div class="topnav">
<a href="/">Home</a>
</div>
  <h1>Sign Up</h1>
  <h3>
    You cannot leave any of the fields blank, please try again...
  </h3>
  <form action="/signup" method="POST">
    <p><input name="username" placeholder="Username" /></p>
    <p><input name="first_name" placeholder="First Name" /></p>
    <p><input name="last_name" placeholder="Last Name" /></p>
    <p><input name="email" placeholder="Email Address" /></p>
    <p><input name="mobile_number" placeholder="Mobile Number" /></p>
    <p><input name="password" type="password" placeholder="Password" /></p>
    <p><input name="repeat_password" type="password" placeholder="Repeat Password" /></p>
    <p><input type="submit" value="Create Account" />
  </form>
</body>

</html>