<link href="style1.css" rel="stylesheet">

<html>
<div class="topnav">
<a href="/">Home</a>
</div>
  <body>
    <h1>Sign Up - Create a new MakersBnB Account</h1>
    <form action="/signup" method="POST">
    <div class='names'>
      <p><input name="username" placeholder="Username" /></p>
      <p><input name="first_name" placeholder="First Name" /></p>
      <p><input name="last_name" placeholder="Last Name" /></p>
      <p><input name="email" placeholder="Email Address" /></p>
      <p><input name="mobile_number" placeholder="Mobile Number" /></p>
      <p><input name="password" type="password" placeholder="Password" /></p>
      <p><input name="repeat_password" type="password" placeholder="Repeat Password" /></p>
      <p><input type="submit" value="Create Account" />
      </div>
      <footer class="center">
       <p class="center">Sign up today and enjoy your stay with MakersBnB</p>
      </footer>
    </form>
  </body>

</html>

<div class='form-group'>