<html>
  <head>
    <title>MakersBnB-Space</title>
 </head>
 <body>
   <h1> This is the title </h1>
   <img scr="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.houseplans.com%2Fblog%2Fstylish-and-simple-inexpensive-house-plans-to-build&psig=AOvVaw1hBvUFApKONmUxyYqQh25i&ust=1674050753919000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCPCU_5XjzvwCFQAAAAAdAAAAABAJ" />
   <p>
       The owner for this space is: <%= @user.username %>
    </p> 
       
 </body>
</html>