<html>

  <body>
    <p>Your details have been updated, <%= current_user.first_name %>. Redirecting back to your account...</p>
    <meta http-equiv="refresh" content="3; url = /myaccount" />
  <body>

<html>