<html>

  <body>
    <h3>Welcome to MakersBnB, <%= current_user.first_name %>!</h3>
    <p>Redirecting to the homepage...</p>
      <meta http-equiv="refresh" content="4; url = /" />
    </form>
  </body>
  
</html>

